[submodule "minish_libft"]
	path = libft
	url = https://github.com/GastonRLdL/minish_libft
[submodule "read_line_mirror"]
	path = read_line_mirror
	url = https://github.com/GastonRLdL/read_line_mirror
